*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url("../obrazky/background3.jpg");
	background-repeat: repeat;
	background-size: 500px 4600px;
	position: relative;
	z-index: 2;
}
.title{
	margin-left: 710px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(64, 38, 34, 0.7);
    color: rgb(74, 34, 14);
    border-radius: 20px;
    max-width: 500px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Karla', sans-serif;
    text-shadow: 1px 1px 1px white;
    margin-top: 25px;
    z-index: 3;
    position: relative;
}
img.background{
	width: 960px;
	margin-top: -485px;
	z-index: 2;
}
img.background2{
	margin-top: -515px;
	margin-left: 960px;
	width: 960px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	z-index: 2;
}
nav{
	background-color: rgb(74, 34, 14);
	display: grid;
	place-items: center;
	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;	
    margin-top: -50px;
	z-index: 3;
}
nav ul{
	list-style-type: none;
}
nav ul a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: white;
	transition: 0.2s ease-in;
	font-size: 18px;
}
nav ul a:hover{
	background-color: rgb(64, 38, 34);
	cursor: pointer;
}
a{
	transition: font-size ease-in-out .1s;
}
a:hover{
	color: rgb(185, 185, 185);
	transform: scale(1.01);
}
ul{
	font-family: 'Lilita One', cursive;
}
.mapa{
	height: 350px;
	width: 100%;
	margin-top: 30px;
	border: 2px solid black;
	opacity: 0.6;
	transition: 0.2s ease-in;
}
footer{
	background-color: rgb(74, 34, 14);
	border: 2px solid black;
	margin-top: 150px;
	height: 875px;
}
.title_footer{
	font-family: 'Lilita One', cursive;
	font-size: 60px;
	color: white;
	text-align: center;
	font-weight: 2;
	margin-top: 20px;
}
.text_footer{
	font-family: 'Lilita One', cursive;
	font-size: 50px;
	color: white;
	text-align: center;
	font-weight: 2;
	margin-top: 20px;
}
.kontakt_footer{
	font-family: 'Lilita One', cursive;
	font-size: 50px;
	color: white;
	text-align: center;
	font-weight: 2;
	margin-top: 20px;
}
.kontakt{
	margin-bottom: 30px;
}
.kontakty{
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	display: grid;
	padding-left: 500px;
	padding-right: 500px;
	padding-top: 30px;
	margin-top: 30px;
	border: 2px solid black;
	background-color: rgb(94, 72, 64);
	transition: 0.2s ease-in;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
}
.kontakt a{
	color: black;
}
.kontakty:hover{
	background-color: rgb(124, 102, 94);
}
.mapa:hover{
	opacity: 0.7;
}
.final_footer{
	font-family: 'Dosis', sans-serif;
	font-size: 13px;
	color: white;
	text-align: center;
	margin-top: 25px;
}
.title_jidla{
	text-align: center;
	font-size: 80px;
	font-weight: 10;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	font-family: 'Tsukimi Rounded', sans-serif;
	text-shadow: 5px 5px 5px gray;
}
.title_napoje{
	text-align: center;
	font-size: 80px;
	font-weight: 10;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	font-family: 'Tsukimi Rounded', sans-serif;
	text-shadow: 5px 5px 5px gray;
}
.title_prilohy{
	text-align: center;
	font-size: 80px;
	font-weight: 10;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	font-family: 'Tsukimi Rounded', sans-serif;
	text-shadow: 5px 5px 5px gray;
}
.title_alergeny{
	text-align: center;
	font-size: 80px;
	font-weight: 10;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	font-family: 'Tsukimi Rounded', sans-serif;
	text-shadow: 5px 5px 5px gray;
}
section{
	background-color: white;
	width: 1200px;
	height: 4000px;
	margin: 0 auto;
	margin-top: 100px;
	padding-bottom: 30%;
	border: 5px solid black;	
	border-radius: 20px;
}
.jidla{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 60px 100px;
	grid-row-gap: 75px;
	position: relative;
	justify-content: center;
	align-items: center;
	place-items: center;
}
.napoje{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 60px 100px;
	grid-row-gap: 75px;
	position: relative;
	justify-content: center;
	align-items: center;
	place-items: center;
}
.prilohy{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 60px 100px;
	grid-row-gap: 75px;
	position: relative;
	justify-content: center;
	align-items: center;
	place-items: center;
}
.alergeny{
	display: flex;
	padding: 15px 15px;
	position: relative;
	justify-content: center;
	margin-top: 100px; 
	margin-left: 350px;
	margin-right: 350px;
	background-color: rgb(185, 185, 185);
	flex-direction: column;
	font-size: 25px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 1px;
}
.item_alergeny{
	justify-content: space-between;
	display: flex;
	margin-bottom: 10px;
}
.opacity1{
	opacity: 0.9;
}
.opacity2{
	opacity: 0.8;
}
.opacity3{
	opacity: 0.7;
}
.opacity4{
	opacity: 0.6;
}
.opacity5{
	opacity: 0.5;
}
.opacity6{
	opacity: 0.4;
}
.opacity7{
	opacity: 0.3;
}
.opacity8{
	opacity: 0.2;
}
.opacity9{
	opacity: 0.1;
}
.item img{
	width: 300px;
	height: 300px;
	object-fit: cover;
	cursor: pointer;
	transition: 0.2s ease;
	border: 2px solid black;
}
.item img:hover{
	transform: scale(1.04);
}
.item h4{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	color: white;
	background-color: rgb(74, 34, 14);
	border-radius: 5px;
	border: 1px solid black;
	font-family: 'Dosis', sans-serif;
	font-weight: 8;
	box-shadow: 3px 3px 3px black;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}