*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url("../obrazky/background3.jpg");
	background-repeat: repeat;
	background-size: 500px 1500px;
	position: relative;
	z-index: 2;
}
.title{
	margin-left: 710px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(64, 38, 34, 0.7);
    color: rgb(74, 34, 14);
    border-radius: 20px;
    max-width: 500px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Karla', sans-serif;
    text-shadow: 1px 1px 1px white;
    margin-top: 25px;
    z-index: 3;
    position: relative;
}
img.background{
	width: 960px;
	margin-top: -485px;
	z-index: 2;
}
img.background2{
	margin-top: -515px;
	margin-left: 960px;
	width: 960px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	z-index: 2;
}
nav{
	background-color: rgb(74, 34, 14);
	display: grid;
	place-items: center;
	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;	
    margin-top: -50px;
	z-index: 3;
}
nav ul{
	list-style-type: none;
}
nav ul a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: white;
	transition: 0.2s ease-in;
	font-size: 18px;
}
nav ul a:hover{
	background-color: rgb(64, 38, 34);
	cursor: pointer;
}
a{
	transition: font-size ease-in-out .1s;
}
a:hover{
	color: rgb(185, 185, 185);
	transform: scale(1.01);
}
ul{
	font-family: 'Lilita One', cursive;
}
.mapa{
	height: 350px;
	width: 100%;
	margin-top: 30px;
	border: 2px solid black;
	opacity: 0.6;
	transition: 0.2s ease-in;
}
footer{
	background-color: rgb(74, 34, 14);
	border: 2px solid black;
	margin-top: 150px;
	height: 875px;
}
.title_footer{
	font-family: 'Lilita One', cursive;
	font-size: 60px;
	color: white;
	text-align: center;
	font-weight: 2;
	margin-top: 20px;
}
.text_footer{
	font-family: 'Lilita One', cursive;
	font-size: 50px;
	color: white;
	text-align: center;
	font-weight: 2;
	margin-top: 20px;
}
.kontakt_footer{
	font-family: 'Lilita One', cursive;
	font-size: 50px;
	color: white;
	text-align: center;
	font-weight: 2;
	margin-top: 20px;
}
.kontakt{
	margin-bottom: 30px;
}
.kontakty{
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	display: grid;
	padding-left: 500px;
	padding-right: 500px;
	padding-top: 30px;
	margin-top: 30px;
	border: 2px solid black;
	background-color: rgb(94, 72, 64);
	transition: 0.2s ease-in;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
}
.kontakty:hover{
	background-color: rgb(124, 102, 94);
}
.mapa:hover{
	opacity: 0.7;
}
.final_footer{
	font-family: 'Dosis', sans-serif;
	font-size: 13px;
	color: white;
	text-align: center;
	margin-top: 25px;
}
.info_kontakt{
	background-color: white;
	width: 1200px;
	height: 850px;
	margin: 0 auto;
	margin-top: 100px;
	padding-bottom: 30%;
	border: 5px solid black;
	border-radius: 20px;
}
.title_kontakt{
	font-family: 'Dosis', sans-serif;
	font-size: 50px;
	color: black;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}
.text_kontakt{
	font-family: 'Dosis', sans-serif;
	font-size: 23px;
	color: black;
	text-align: left;
	padding-left: 10px;
	margin-bottom: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.text_kontakt1{
	font-family: 'Dosis', sans-serif;
	font-size: 23px;
	color: black;
	border-right: 2px solid black;
	padding-right: 10px;
	margin-bottom: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: right;
}
.kontakt_tab{
	display: flex;
}
.tabulka{
	display: flex;
	padding: 15px px;
	position: relative;
	justify-content: center;
	margin-top: 50px; 
	padding-left: 450px;
	flex-direction: column;
	font-size: 25px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}
.text_kontakt2{
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	color: black;
	text-align: center;
	margin-top: 100px;
	border-top: 3px solid black;
	padding-top: 40px;
	margin-left: 300px;
	margin-right: 300px;
}
.text_kontakt3{
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	color: black;
	text-align: center;
	padding-top: 30px;
	margin-left: 300px;
	margin-right: 300px;
}